<div class="layout" [class.sidebar-collapsed]="collapsed">
  <aside class="sidebar">
    <div class="sidebar-top">
      <div class="brand-row">
        <a class="brand" routerLink="/">
          <img src="/logo3.png" alt="Ashare logo" class="logo" />
        </a>

        <button class="collapse-toggle"
                (click)="collapsed = !collapsed"
                [attr.aria-label]="collapsed ? 'Expand menu' : 'Collapse menu'">
          <span class="chev" [class.rot]="collapsed">❮</span>
        </button>
      </div>

      
<nav class="menu">
  <ul *ngIf="isLoggedIn(); else guestMenu">
    <li class="hello">Hi, {{ user()?.username }}</li>
    <li><a class="link" routerLink="/feed" title="Home">Home</a></li>
    <li><a class="link" routerLink="/users" title="Users">Users</a></li>
    <li><a class="link" routerLink="/chat" title="Chats">Chats</a></li>
    <li><button class="link" (click)="logout()" title="Logout">Logout</button></li>
  </ul>
  <ng-template #guestMenu>
    <ul>
      <li><a class="link" routerLink="/login" title="Login">Login</a></li>
      <li><a class="link" routerLink="/register" title="Create account">Register</a></li>
    </ul>
  </ng-template>
</nav>

    </div>
  </aside>

  <main class="page">
    <router-outlet></router-outlet>
  </main>
</div>

